@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Georama:ital,wght@0,100..900;1,100..900&display=swap');
body{
  font-family: "Georama", sans-serif;  
  overflow-x: hidden;
  box-sizing: border-box;
}